body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #8FD8F2;
}

.title-text {
  color: #DF744A;
}

.output { 
  width: 40%;
  height: 80%;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  background-color: #FAFAFA;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1.25px solid black;
  border-radius: 5px;
  box-shadow: 0.10rem 0.10rem 0.10rem #000000;
}

.gif-form {
  display: flex;
  flex-direction: column;
}
button {
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: .5rem;
  text-align: center;
  background-color: #DCB239;
  border-radius: 5px;
}

.output img {
  width: 100%;
  height: 100%;
}

input {
  text-align: center;
}

#reset {
  margin: 1.5rem;
}


